#frf-image-viewer {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	text-align: center !important;
	overflow: auto !important;
	background-color: white !important;
	outline: none !important;
	z-index: 666 !important;
}

#frf-image-viewer .help-text {
	padding: 10px;
	font-size: 14pt;
	color: #ccc;
}

#frf-image-viewer .image-view {

}

div#frf-user-comments {
	margin-bottom: 10px !important;
}

#frf-user-comment-dlg {

}

#frf-user-comment-dlg textarea {
	width: 100%;
	height: 160px;
	-webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
    filter: alpha(opacity=10);
    opacity: 0.1;
    -moz-opacity:0.1;
    z-index:1000;
}

.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}

.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	outline: 0;
	z-index: 1001;
	border: 1px solid #aaaaaa !important;
}

.ui-dialog .ui-dialog-titlebar {
	position: relative;
	background-color: #2F72C4;
	height: 1.4em;
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: 0.1em 0.5em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1em;
	color: white;
}

.ui-dialog .ui-dialog-titlebar-close {
	display: none;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: 10px !important;
	background: none;
	overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	border-color: #aaaaaa;
	background-image: none;
	padding: 0 .3em .7em .5em !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: 0 .4em .5em 0;
	cursor: pointer;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

/* Component containers
----------------------------------*/
.ui-widget-content {
	background: #ffffff;
	color: #222222;
}

.ui-widget-content a {
	color: #222222;
}
