<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Alexey Skalozub</string>
	<key>Builder Version</key>
	<string>8536.28.10</string>
	<key>CFBundleDisplayName</key>
	<string>FrF Helpers</string>
	<key>CFBundleIdentifier</key>
	<string>com.wintense.ext.frf</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.5</string>
	<key>CFBundleVersion</key>
	<string>1.4.5</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>jquery.js</string>
				<string>frf.js</string>
				<string>frf-base.js</string>
				<string>jquery-ui-1.10.1.custom.min.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>frf.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>FriendFeed image preview helpers</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.friendfeed.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://wintense.com/ext/frf/update.plist</string>
</dict>
</plist>
